<mat-toolbar class="nav" color="primary">
  <span>The RNDM game</span>
  <a class="nav__help" href="https://telegram.me/strouqe" target="_blank">
    <span class="nav__help--text">Need help?</span>
    <span class="nav__help--icon">
      <img src="assets/images/telegram.svg" alt="telegram">
    </span>
  </a>
  <div class="nav__user-info" *ngIf="user">
    <span class="nav__user-info--name">{{ user.name }} </span>
    <span class="nav__user-info--balance">
      <span class="nav__user-info--balance-coin"></span> {{ user.currencyBalance }}
      <span class="nav__user-info--balance-text">Gold </span>
    </span>
    <span> + </span>
    <span> {{ user.currencyIncome }}/min </span>
    <span class="nav__user-info--points">
      <span style="color: gold">{{ user.points }} </span>points</span>
  </div>
  <div class="nav__buttons">
    <button
      class="nav__button"
      type="button"
      mat-flat-button
      (click)="openLeaderboardDialog('500ms', '500ms')"
    >
      Leaderboard
    </button>
    <button
      class="nav__button"
      type="button"
      mat-flat-button
      (click)="onLogout()"
    >
      Exit
    </button>
  </div>
</mat-toolbar>
