.user-characters {
  width: 320px;

  &__cta {
    position: relative;
    width: 400px;
    height: 80px;
    margin-top: 35%;
    background: #3f51b5;
    color: #fff;

    &--text {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
      width: 100%;

      font-size: 28px;
      font-weight: bold;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 40px solid #fff;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
    }

    &:before {
      content: "";
      position: absolute;
      right: -40px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 40px solid #3f51b5;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
    }
  }

  &__character {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 320px;
    height: 115px;
    padding: 0;
    margin: 4px 0;

    &-image {
      width: 100px;
      height: 100px;
      margin: 0 auto 0 8px;

      object-fit: cover;
    }

    &-characteristics {
      align-items: center;
      margin: 0 auto;
      min-width: 60%;

      &--row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      &--str {
        color: #ff00b3;
        width: 50%;
      }
      &--dex {
        color: #00b13b;
        width: 50%;
      }
      &--int {
        color: #0000ff;
        width: 50%;
      }
      &--inc {
        color: #dad606;
        width: 50%;
      }
      & > * {
        margin: 4px auto;
        text-align: center;
      }

      &--button {
        margin: 8px 0 8px auto;
        &-container {
          width: 70%;
          padding: 0;
          margin-left: auto;
          margin-right: 0 !important;
        }
      }
    }
  }
}

.pulse {
  box-shadow: 0 0 0 rgba(63, 81, 181, 0.2);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
