<div *ngIf="user">
  <h4 class="user-characters__header">
    {{ user.characters.length == 0 ? "You dont have any characters" : "My characters (" + user.characters.length + "/6):" }}
  </h4>
  <mat-card
    *ngFor="let character of user.characters"
    class="user-characters__character"
  >
    <img
      src="{{ character.image }}"
      alt="user-characters__character-image"
      class="user-characters__character-image"
    />
    <div matLine class="user-characters__character-characteristics">
      <h4 matLine>{{ character.name }}</h4>
      <p>
        <span>Str:{{ character.characteristics.strength }} </span>
        <span>Dex: {{ character.characteristics.dexterity }} </span>
        <span>Int: {{ character.characteristics.intellect }}</span>
      </p>
      <p>Income: {{ character.income }}</p>
      <div class="user-characters__character-characteristics--button-container">
        Delete for
        <button
          class="user-characters__character-characteristics--button"
          type="button"
          mat-raised-button
          color="warn"
          [disabled]="user.currencyBalance < character.price"
          (click)="onDeleteCharacter(character)"
        >
          {{ character.price }}
        </button>
      </div>
    </div>
  </mat-card>
</div>
