.user-characters {
  width: 320px;

  &__character {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 320px;
    height: 113px;
    padding: 0;
    margin: 4px 0;

    &-image {
      width: 100px;
      height: 100px;
      margin: 0 auto 0 8px;

      object-fit: cover;
    }

    &-characteristics {
      align-items: center;
      margin: 0 auto;
      min-width: 60%;

      &--row{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        &--str{
          color: #ff0000;
          // margin-right: auto;
          width: 50%;
        }
        &--dex{
          color: #00b13b;
          // margin-left: auto;
          width: 50%
        }
        &--int{
          color: #0000ff;
          // margin-right: auto;
          width: 50%
        }
        &--inc{
          color: #dad606;
          // margin-left: auto;
          width: 50%
        }

      & > * {
        margin: 4px auto;
        text-align: center;
      }

      &--button {
        width:25px;
        padding: 0 !important;
      }
    }
  }
}
