<mat-card class="charecters">
  <div class="charecters__list">
    <!--insted of the letter in front stats have a 50% border and a background color of their stat (s-red, d-green, i-blue)-->
    <mat-card
      *ngFor="let charecter of charecters"
      class="charecters__list__item"
      (click)="onAddCharecter(charecter)"
    >
      <img
        src="{{ charecter.image }}"
        alt="charecter-image"
        class="charecters__list__item-image"
      />
      <div matLine class="charecters__list__item-characteristics">
        <h4 matLine>{{ charecter.name }}</h4>
        <p>Strength: {{ charecter.characteristics.strength }}</p>
        <p>Dexterity: {{ charecter.characteristics.dexterity }}</p>
        <p>Intelect: {{ charecter.characteristics.intelect }}</p>
        <p>Income: {{ charecter.income }}</p>
      </div>
    </mat-card>
  </div>
</mat-card>
