<img #image src="../../../assets/images/blue-sky.svg" alt="Image" class="login__background-image">
<div class="login" load="'../../images/blue-sky.svg'" *ngIf="backgroundLoaded">
  <div class="login__header">
    <h1>The RNDM game</h1>
    <p>By Strouqe</p>
  </div>
  <form class="login__form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h2>Enter your Name</h2>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="userName" matInput minlength="3" />
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!userForm.valid"
    >
      Let's play
    </button>
  </form>

</div>
