<div class="players-online">
  <div [@scroll]="animationState" (@scroll.done)="scrollDone()">
    <div class="players-online__scrolling-text">
      <div
        class="players-online__scrolling-text__player"
        *ngFor="let player of players"
      >
        <div class="players-online__scrolling-text__player--name">{{ player.name }}</div>
        <div class="players-online__scrolling-text__player--info">
          <div>Missions completed: {{ player.missionsCompleated.length }}</div>
          <!-- <span>Number of charecters: {{ player.characters.length }}</span>
          <span>Missions completed: {{ player.missionsCompleated.length }}</span> -->
          <div>Time played: {{ player.timePlayed }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
