.players-online {
  max-width: 150px;
  margin: auto;
  text-align: center;

  &__list{
    &__item{
      height: 150px;
      width: 170px;
      margin: 15px 0;

      P{
        margin: 0;
      }
    }
  }
}
