.players-online {
  position: relative;
  height: 60px;
  width: 100%;
  overflow: hidden;
  padding: 13px 0;
  margin-top: 10px;
  align-self: end;

  background-color: #3F51B5;

  &__scrolling-text {
    z-index: 1000;
    position: absolute;
    display: flex;
    width: 100%;
    min-width: 60px;
    height: 100%;
    margin: 0;
    color: #fff;
    line-height: 20px;
    text-align: center;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Animation */
    -moz-animation: players-online 60s linear infinite;
    -webkit-animation: players-online 60s linear infinite;
    animation: players-online 60s linear infinite;

    &__player{
      display: flex;
      flex-direction: column;
      width: 200px;
    }
  }
}
@-moz-keyframes players-online {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes players-online {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes players-online {
  0%   {
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%);
  }
  100% {
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%);
  }
 }
