.user-info {
  width: 320px;

  &__list{
    height: 160px;
    width: 100%;
    
    line-height: 0.8;

    & > * {
      margin: 0;
      height: 40px;
    }
  }

  &__character {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    width: 320px;

    padding: 0 10px;
    margin: 10px 0;

    &-image {
      width: 140px;
      height: 140px;
      margin: 0 auto 0 10px;
      object-fit: cover;
    }

    &-characteristics {
      align-items: center;
      margin: 0 auto;
      & > * {
        margin: 4px auto;
        text-align: center;
      }

      &--button {
        width:25px;
        padding: 0 !important;
      }
    }
  }
}
