<mat-card class="user-info" >
  <mat-list>
    <mat-list-item>
      Name: {{ user.name}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Missions compleated: {{ user.missionsCompleated.length }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Currency: {{ user.currencyBalance }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Income: {{ user.currencyIncome }}/min
    </mat-list-item>
    <mat-divider></mat-divider>
    <!-- <mat-list-item>
      Party: {{ user.characters.length}}/8
    </mat-list-item> -->
    <mat-list-item *ngFor="let character of user.characters">
      Name: {{ character.name }}
    </mat-list-item>
  </mat-list>

</mat-card>
