<div class="leaderboard">
  <button class="leaderboard__close" mat-button mat-dialog-close (click)="onClick()" >X</button>
  <h2 class="leaderboard__heading">Top 10 Highscores</h2>
  <mat-list class="leaderboard__list">
    <div *ngIf="!dbData">Loading...</div>
    <div class="leaderboard__list__item" *ngFor="let entry of dbData">
      {{ dbData.indexOf(entry) + 1 }}.
      <h3 class="leaderboard__list__item--name">  {{ entry.name }}</h3>
       <h2 class="leaderboard__list__item--points" >
        {{ entry.points }}</h2>
    </div>
  </mat-list>
</div>
