.characters {
  width: 980px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    min-height: 50%;
  }

  &__spinner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 270px;

    text-align: center;
  }

  &__character {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 320px;
    padding: 5px 8px;
    margin: 10px 0;

    &-image {
      width: 100px;
      height: 100px;
      margin: 0 auto 0 8px;

      object-fit: cover;
    }

    &-characteristics {
      align-items: center;
      min-width: 60%;

      &--row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      &--str {
        color: #ff00b3;
        width: 50%;
      }
      &--dex {
        color: #00b13b;
        width: 50%;
      }
      &--int {
        color: #0000ff;
        width: 50%;
      }
      &--inc {
        color: #dad606;
        width: 50%;
      }

      & > * {
        margin: 4px auto;
        text-align: center;
      }

      &--button {
        margin: 4px 0 4px auto;
        &-container {
          width: 70%;
          padding: 0;
          margin-left: auto;
          margin-right: 0 !important;
        }
      }
    }
  }
}
