<div class="characters" *ngIf="user">
  <div class="characters__list" *ngIf="characters && characters.length != 0">
    <mat-card
      *ngFor="let character of characters"
      class="characters__list__item"
    >
      <img
        src="{{ character.image }}"
        alt="characters__character-image"
        class="characters__list__item-image"
      />
      <div matLine class="characters__list__item-characteristics">
        <h4 matLine>{{ character.name }}</h4>
        <p>Strength: {{ character.characteristics.strength }}</p>
        <p>Dexterity: {{ character.characteristics.dexterity }}</p>
        <p>Intelect: {{ character.characteristics.intelect }}</p>
        <p>Income: {{ character.income }}</p>
        <div>
          Add for
          <button
            class="characters__list__item-characteristics--button"
            type="button"
            mat-raised-button
            color="primary"
            [disabled]="fullParty || user.currencyBalance < character.price"
            (click)="onAddcharacter(character)"
          >
            {{ character.price }}
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="characters__spinner" *ngIf="!characters || characters.length == 0">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <div>Please wait for new charecters to arrive</div>
  </div>
</div>
