.characters {
  min-width: 700px;
  padding: 10px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      padding: 0 10px;

      &-image {
        width: 125px;
        height: 125px;
        margin: 0 auto 0 10px;
        object-fit: cover;
      }

      &-characteristics {
        align-items: center;
        margin: 0 auto;
        & > * {
          margin: 4px auto;
          text-align: center;
        }

        &--button {
          margin: 8px auto;
        }
      }
    }
  }
}
