.dialog {
  position: relative;
  width: 100%;
  margin: 0 auto;

  &__mission-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__box-titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 10px auto;

      line-height: 0.6;

      &--characters {
        width: 40%;
      }

      &--requirements {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 85%;
        margin: 10px auto;

        line-height: 0.6;
      }

      &--description{
        width: 50%;
        margin: 0 auto;

        font-style: italic;
      }

    &--party-stats{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 25%;
      margin: 10px 13% 10px auto;

      line-height: 0.6;
    }
    }
  }

  &__container {
    min-height: 85%;
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    vertical-align: top;

    border: 1px solid #ccc;
    border-radius: 4px;

    &__heading{
      width: 40%;
      margin: 30px auto;
    }

    &__list {
      display: flex !important;
      flex-wrap: wrap;

      min-height: 300px;
      min-width: 100%;

      border-radius: 4px;
      overflow: hidden;
    }
  }

  &__character-select {
    display: flex;

    width: 100%;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
}

.characters {
  &__list {
    &__item {
      scale: 0.9;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 45%;

      padding: 4px 8px;
      margin: auto;

      &-image {
        width: 100px;
        height: 100px;
        margin: 0 auto 0 8px;
        object-fit: cover;
      }

      &-characteristics {
        align-items: center;
        margin: 0 auto;

        &--row{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          min-width: 130px;
        }
        &--str{
          color: #ff0000;
          margin-right: auto;
        }
        &--dex{
          color: #00b13b;
          margin-left: auto;
        }
        &--int{
          color: #0000ff;
          margin-right: auto;
        }
        &--inc{
          color: #dad606;
          margin-left: auto;
        }

        & > * {
          margin: 4px auto;
          text-align: center;
        }
      }
    }
  }
}
