// need to rewrite all of css here

.dialog {
  position: relative;
  width: 100%;
  margin: 0 auto;

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-bottom: 20px;
  }

  &__mission-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__box-titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 10px auto;

      line-height: 0.6;

      &--characters {
        width: 40%;
      }

      &--requirements {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 85%;
        margin: 10px auto;

        line-height: 0.6;
      }

      &--description {
        width: 50%;
        margin: 0 auto;

        font-style: italic;
      }

      &--party-stats {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25%;
        margin: 10px 13% 10px auto;

        line-height: 0.6;
      }
    }
  }

  &__container {
    min-height: 85%;
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    vertical-align: top;

    border: 1px solid #ccc;
    border-radius: 4px;

    &__heading {
      width: 40%;
      margin: 30px auto;
    }

    &__list {
      display: flex !important;
      flex-wrap: wrap;

      min-height: 300px;
      min-width: 100%;

      border-radius: 4px;
      overflow: hidden;
    }
  }

  &__character-select {
    display: flex;

    width: 100%;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
}

.characters {
  &__character:hover &__character-del,
  &__character:hover &__character-add {
    animation: pulse 2s infinite;
    display: flex;
  }
  &__character {
    scale: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 45%;

    padding: 4px 8px;
    margin: auto;

    &-add {
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      top: 8px;
      right: 8px;
      height: 30px;
      width: 30px;
      // margin: 2px;
      border-radius: 50%;
      font-size: 44px;
      background: #26db3e;
      box-shadow: 0 0 0 2px #ccc;
      color: #fff;
      font-weight: bold;

      cursor: pointer;
    }
    &-del {
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      top: 8px;
      right: 8px;
      height: 30px;
      width: 30px;
      padding: 0;
      // margin: 2px;
      border-radius: 50%;
      font-size: 40px;
      background: #ec4c46;
      box-shadow: 0 0 0 2px #ccc;
      color: #fff;
      // font-weight: bold;

      cursor: pointer;
    }

    &-image {
      width: 100px;
      height: 100px;
      margin: 0 auto 0 8px;

      object-fit: cover;
    }

    &-characteristics {
      align-items: center;
      margin: 0 auto;

      min-width: 60%;

      &--row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      &--str {
        color: #ff00b3;
        // margin-right: auto;
        width: 50%;
      }
      &--dex {
        color: #00b13b;
        // margin-left: auto;
        width: 50%;
      }
      &--int {
        color: #0000ff;
        // margin-right: auto;
        width: 50%;
      }
      &--inc {
        color: #dad606;
        // margin-left: auto;
        width: 50%;
      }

      & > * {
        margin: 4px auto;
        text-align: center;
      }

      // &--button {
      //   width:25px;
      //   padding: 0 !important;
      // }
    }
  }

  &__list {
    &__item {
      position: relative;
      scale: 0.9;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 45%;

      padding: 4px 8px;
      margin: auto;

      &-image {
        width: 100px;
        height: 100px;
        margin: 0 auto 0 8px;
        object-fit: cover;
      }

      &-characteristics {
        align-items: center;
        margin: 0 auto;

        &--row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          min-width: 130px;
        }
        &--str {
          color: #ff00b3;
          margin-right: auto;
        }
        &--dex {
          color: #00b13b;
          margin-left: auto;
        }
        &--int {
          color: #0000ff;
          margin-right: auto;
        }
        &--inc {
          color: #dad606;
          margin-left: auto;
        }

        & > * {
          margin: 4px auto;
          text-align: center;
        }
      }
    }
  }
}

.pulse {
  box-shadow: 0 0 0 rgba(63, 81, 181, 0.2);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    scale: 1.1;
  }
  50% {
    -webkit-box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.25);
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.25);
    scale: 1;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    scale: 1.1;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    scale: 1.1;
  }
  50% {
    -moz-box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.25);
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.25);
    scale: 1;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    scale: 1.1;
  }
}
