<div class="dialog">
  <div class="dialog__mission-info">
    <h1 mat-dialog-title>{{ this.data.mission.name }}</h1>
    <!-- <div class="dialog__mission-info__box-titles">
      <div class="dialog__mission-info__box-titles--characters">
        <h2>Available Characters</h2>
      </div>
      <div class="dialog__mission-info__box-titles--requirements">
        <h2>Character minimum requirements:</h2>
        <div>
          <p>Strength: {{ this.data.mission.requirements.strength }}</p>
          <p>Dexterity: {{ this.data.mission.requirements.dexterity }}</p>
          <p>intellect: {{ this.data.mission.requirements.intellect }}</p>
        </div>
      </div>
    </div> -->
    <div class="dialog__character-select">
      <div class="dialog__container">
        <h2 class="dialog__container__heading">Available Characters</h2>
        <div
          cdkDropList
          #characterList="cdkDropList"
          [cdkDropListData]="characters"
          [cdkDropListConnectedTo]="[partyList]"
          class="dialog__container__list"
          (cdkDropListDropped)="drop($event)"
        >
          <mat-card
            cdkDrag
            *ngFor="let character of characters"
            class="characters__character"
          >
          <img
          src="{{ character.image }}"
          alt="characters__character-image"
          class="characters__character-image"
        />
        <div matLine class="characters__character-characteristics">
          <h4 matLine>{{ character.name }}</h4>
          <div>
            <div class="characters__character-characteristics--row">
              <span class="characters__character-characteristics--str">Str: {{ character.characteristics.strength }} </span>
              <span class="characters__character-characteristics--dex">Dex: {{ character.characteristics.dexterity }} </span>
            </div>
            <div class="characters__character-characteristics--row">
              <span class="characters__character-characteristics--int">Int: {{ character.characteristics.intellect }}</span>
              <span class="characters__character-characteristics--inc">Gold: {{ character.income }}</span>
            </div>
          </div>
              <!-- <p>
                <span>Str:{{ character.characteristics.strength }} </span>
                <span>Dex: {{ character.characteristics.dexterity }} </span>
                <span>Int: {{ character.characteristics.intellect }}</span>
              </p>
              <p>Income: {{ character.income }}</p> -->
            </div>
          </mat-card>
        </div>
      </div>
      <div class="dialog__container">
        <div class="dialog__mission-info__box-titles--requirements">
          <h2>
            Required sum of Characteristics:
            <!-- {{ 10 * (this.data.mission.difficulty / 100) * 4 }} -
            {{ 20 * (this.data.mission.difficulty / 100) * 4 }} -->
          </h2>
          <div>
            <p>Strength: {{ 10 * (this.data.mission.difficulty / 100) * 4 }} -
              {{ 20 * (this.data.mission.difficulty / 100) * 4 }}</p>
            <p>Dexterity: {{ 10 * (this.data.mission.difficulty / 100) * 4 }} -
              {{ 20 * (this.data.mission.difficulty / 100) * 4 }}</p>
            <p>Intellect: {{ 10 * (this.data.mission.difficulty / 100) * 4 }} -
              {{ 20 * (this.data.mission.difficulty / 100) * 4 }}</p>
            <!-- <p>Strength: {{ this.data.mission.requirements.strength }}</p>
            <p>Dexterity: {{ this.data.mission.requirements.dexterity }}</p>
            <p>Intellect: {{ this.data.mission.requirements.intellect }}</p> -->
            <!-- <p>
              {{ 10 * (this.data.mission.difficulty / 100) * 4 }} -
              {{ 20 * (this.data.mission.difficulty / 100) * 4 }}
            </p> -->
          </div>
        </div>

        <div class="dialog__mission-info__box-titles--description">
          Choose {{ this.data.mission.partySize }} characters and drop them here
        </div>
        <!-- <div *ngIf="party.length == 0">Drop selected character here</div> -->
        <div
          cdkDropList
          #partyList="cdkDropList"
          [cdkDropListData]="party"
          [cdkDropListConnectedTo]="[characterList]"
          class="dialog__container__list"
          (cdkDropListDropped)="drop($event)"
        >
          <mat-card
            cdkDrag
            *ngFor="let character of party"
            class="characters__list__item"
          >
            <img
              src="{{ character.image }}"
              alt="characters__character-image"
              class="characters__list__item-image"
            />
            <div matLine class="characters__list__item-characteristics">
              <h4 matLine>{{ character.name }}</h4>
              <div>
                <div class="characters__list__item-characteristics--row">
                  <span class="characters__list__item-characteristics--str">Str: {{ character.characteristics.strength }} </span>
                  <span class="characters__list__item-characteristics--dex">Dex: {{ character.characteristics.dexterity }} </span>
                </div>
                <div class="characters__list__item-characteristics--row">
                  <span class="characters__list__item-characteristics--int">Int: {{ character.characteristics.intellect }}</span>
                  <span class="characters__list__item-characteristics--inc">Gold: {{ character.income }}</span>
                </div>
              </div>
              <!-- <p>
                <span>Str:{{ character.characteristics.strength }} </span>
                <span>Dex: {{ character.characteristics.dexterity }} </span>
                <span>Int: {{ character.characteristics.intellect }}</span>
              </p>
              <p>Income: {{ character.income }}</p> -->
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="dialog__mission-info__box-titles--party-stats">
      <h4>Sum of your party characteristics:</h4>
      <div>
        <p>Strength: {{ this.partyStats.strength }}</p>
        <p>Dexterity: {{ this.partyStats.dexterity }}</p>
        <p>Intellect: {{ this.partyStats.intellect }}</p>
        <h4>
          Win chance: {{ this.successProbability }}%
        </h4>
      </div>
    </div>

    <div mat-dialog-content>Start the mission?</div>
    <div mat-dialog-actions class="dialog__buttons">
      <button mat-button mat-dialog-close (click)="resumeGeneration()">
        No
      </button>
      <button
        mat-button
        mat-dialog-close
        mat-raised-button
        cdkFocusInitial
        [disabled]="party.length == 0"
        color="primary"
        class="pulse"
        [ngClass]="{ 'pulse': party.length != 0 }"
        (click)="onStartMission()"
      >
        LET'S GO!
      </button>
    </div>
    <button
      class="dialog__close"
      mat-button
      mat-dialog-close
      (click)="resumeGeneration()"
    >
      X
    </button>
  </div>
</div>
