.mission-select {
  position: relative;
  width: 100%;
  max-height: 95vh;
  margin: 0 auto;

  @media only screen and (max-width: 1400px) {
    font-size: 12px;
  }

  &__container {
    min-height: 85%;
    max-height: 90%;
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 4px;

    &__heading {
      width: 40%;
      margin: 30px auto;
    }

    &__list {
      display: flex !important;
      flex-wrap: wrap;
      // min-height: 300px;
      min-width: 100%;
      border-radius: 4px;

      // overflow: hidden;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-bottom: 20px;
  }

  &__mission-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__box-titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 10px auto;
      line-height: 0.6;

      &--characters {
        width: 40%;
      }

      &--requirements {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 85%;
        margin: 10px auto;
        line-height: 0.6;
      }

      &--description {
        width: 50%;
        margin: 0 auto;

        font-style: italic;
      }

      &--party-stats {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        margin: 0 13% 0 auto;
        line-height: 0.6;
      }
    }
  }

  &__character-select {
    display: flex;
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }

  &__characters{
    &__character:hover &__character-del,
    &__character:hover &__character-add {
      animation: pulse 2s infinite;
      display: flex;
    }

    &__character {
      // scale: 0.8;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 43%;
      // height: 135px;
      padding: 10px 8px;
      margin: 5px auto;

      font-size: 12px;
      @media only screen and (max-width: 1400px) {
        // font-size: 12px;
      }
      &-add {
        position: absolute;
        top: 8px;
        right: 8px;

        display: none;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        font-size: 44px;
        background: #26db3e;
        box-shadow: 0 0 0 2px #ccc;

        color: #fff;
        font-weight: bold;
        cursor: pointer;
      }
      &-del {
        position: absolute;
        top: 8px;
        right: 8px;

        display: none;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        padding: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #ccc;

        font-size: 40px;
        background: #ec4c46;
        color: #fff;
        cursor: pointer;
      }

      &-image {
        width: 80px;
        height: 80px;
        margin: 0 auto 0 8px;

        object-fit: cover;
        @media only screen and (max-width: 1400px) {
          width: 60px;
          height: 60px;
        }
      }

      &-characteristics {
        align-items: center;
        min-width: 60%;
        margin: 0 auto;

        &--row {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        &--str {
          color: #ff00b3;
          width: 50%;
        }
        &--dex {
          color: #00b13b;
          width: 50%;
        }
        &--int {
          color: #0000ff;
          width: 50%;
        }
        &--inc {
          color: #dad606;
          width: 50%;
        }
        & > * {
          margin: 4px auto;
          text-align: center;
        }
      }
    }

  }
}

.pulse {
  box-shadow: 0 0 0 rgba(63, 81, 181, 0.2);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    scale: 1.1;
  }
  50% {
    -webkit-box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.25);
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.25);
    scale: 1;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    scale: 1.1;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    scale: 1.1;
  }
  50% {
    -moz-box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.25);
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.25);
    scale: 1;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    scale: 1.1;
  }
}
