<mat-card class="missions">
  <div class="missions__list">
    <!--insted of the letter in front stats have a 50% border and a background color of their stat (s-red, d-green, i-blue)-->
    <mat-card
      *ngFor="let mission of missions"
      class="missions__list__item"
    >
        <h4 matLine>{{ mission.name }}</h4>
        <p>Strength: {{ mission.requirements.strength }}</p>
        <p>Dexterity: {{ mission.requirements.dexterity }}</p>
        <p>Intelect: {{ mission.requirements.intelect }}</p>
        <p>reward: {{ mission.reward }}</p>
        <button mat-raised-button id="stopBtn" (click)="openDialog('500ms', '500ms', mission)">View</button>
    </mat-card>
  </div>
</mat-card>
