<div class="missions">
  <div class="missions__list">
    <mat-card *ngFor="let mission of missions" class="missions__list__item">
      <h4 matLine>{{ mission.name }}</h4>
      <p>Sum of Characteristics: {{ 10 * (mission.difficulty / 100) * 4 }} - {{ 20 * (mission.difficulty / 100) * 4 }}</p>
      <p>reward: {{ mission.reward }}</p>
      <button
        mat-raised-button
        color="primary"
        id="stopBtn"
        (click)="openDialog('500ms', '500ms', mission)"
      >
        View
      </button>
    </mat-card>
  </div>
  <div
    class="missions__spinner"
    *ngIf="!missions"
  >
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <div>Please wait for new mission to get posted</div>
  </div>
</div>
