.missions {
  height: 30%;
  max-height: 300px;
  width: 30%;
  min-width: 700px;

  margin: auto;


  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;


    &__item{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      min-height: 120px;
      min-width: 180px;

      padding: 5px 10px;
      border: 1px solid black;




        h4{
          margin: 0;
        }

        p{
          margin: 0;
        }

    }
  }
}
