<div class="missions">
  <div class="missions__list">
    <mat-card
      *ngFor="let mission of missions"
      class="missions__list__item"
      [ngClass]="{
        'missions__list__item--easy': mission.difficulty == 100,
        'missions__list__item--medium': mission.difficulty == 200,
        'missions__list__item--hard': mission.difficulty == 300
      }"
    >
      <div class="missions__list__item--info">
        <div class="missions__list__item--text">
          Difficulty:
          <span class="missions__list__item--info--difficulty"></span>
        </div>
        <div class="missions__list__item--text">
          Reward:
          <span class="missions__list__item--info--reward"
            >{{ mission.reward }} Gold</span
          >
        </div>
      </div>
      <div class="missions__list__item--name">{{ mission.name }}</div>
      <button
        mat-raised-button
        color="primary"
        id="stopBtn"
        (click)="openDialog('500ms', '500ms', mission)"
      >
        View
      </button>
    </mat-card>
  </div>
  <div class="missions__spinner" *ngIf="!missions">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
    <div>Please wait for new mission to get posted</div>
  </div>
</div>
